[submodule "standards"]
	path = standards
	url = ssh://forgejo@forgejo.10cg.pub/10CG/aria-standards.git
[submodule "aria"]
	path = aria
	url = ssh://forgejo@forgejo.10cg.pub/10CG/aria-plugin.git
[submodule "aria-orchestrator"]
	path = aria-orchestrator
	url = ssh://forgejo@forgejo.10cg.pub/10CG/aria-orchestrator.git
